.venv
.vscode
/Dati_UCMerced_LandUse
/SR/EIP/dataset
desktop.ini
__pycache__
*.pyc
*.pyo
*.pyd
/SR/LDUM/dataset
desktop.ini
/SR/ARSGN/datasets
/results/desktop.ini
/SR/ARSGN/datasets/test/desktop.ini
/SR/ARSGN/datasets/desktop.ini
/SR/ARSGN/desktop.ini
*.ini